@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

iframe {
    margin-left: 30%;
}

video {
    margin: 5rem 20%;
}

div.logo {
    position: fixed;
    top: 0;
    background-color: #181b22;
    z-index: 1000;
}

.logo img{
    position: fixed;
    top: 0;
    display: flex;
    margin-left: 1vw;
    width: 7vw;
}

nav ul {
    position: fixed;
    top: 0;
    width: 100%;
    height: 7vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #181b22;
    font-size: 2vw;
}
  
nav li {
    float: right;
}
  
nav li a {
    display: block;
    color: #f3c33e;
    text-align: center;
    margin-top: 5px;
    padding: 2vh 2vw;
    text-decoration: none;
}
  
nav li a:hover {
    background-color: #ffffff;
}

aside {
    width: 50%;
    padding-left: .5rem;
    margin-left: .5rem;
    margin-top: .5rem;
    box-shadow: inset 5px 0 5px -5px #f3c33e;
    /*font-style: italic;*/
    color: #f3c33e;
    font-size: 2vh;
}

.item1{
    flex-grow: 2;
    align-items: stretch;
}
.item2 {
    flex-grow: 1;
    align-items: stretch;
}
section.article {
    flex-grow: 2;
}

article.pad {
    border: 0;
    display: flex;
}

.pad p {
    margin: .5rem;
    font-size: 17px;
}

div>img {
    width: 16vw;
    z-index: 0;
}

h1 {
    position: fixed;
    top: 0;
    display: block;
    width: 35vw;
    font-family: 'Press Start 2P', cursive;
    background-color: #181b22;
    color: #f3c33e;
    margin-left: 9vw;
    font-size: 3vw;
}

h2 {
    font-family: 'Russo One', sans-serif;
    text-align: center;
}

.section {
    display: block;
    border: 1px solid #f3c33e;
    margin: .5rem 0;
    color: #f3c33e;
    text-align: center;
}

.col3{
    width: 50%;
}

.col4{
    width: 50%;
    margin-left:10px;
}

#gift {
    background: none;
    border: none;
}


a:link :not(.btn b) {
    color:#f3c33e
}

a:visited:not(main a){
    color:rgb(205, 10, 14);
}

a:hover:not(.btn) {
    color:#f7e882;
    background-color: #3f0909;
}

/* a:active {
    background-color:rgb(229, 240, 33)
} */

.cyrilic {
    list-style-type: none; /* Прячем исходную нумерацию */
}
.cyrilic li::before {
    float: left;
 margin-right: 5px; /* Расстояние от буквы до текста */
 width: 49%; /* Ширина */
 text-align: left; /* Выравнивание по правому краю */
 display: block; /* блочный элемент */
 color: #dd133f;
}
.cyrilic li:nth-child(1)::before { content: 'А'; }
.cyrilic li:nth-child(2)::before { content: 'Б'; }
.cyrilic li:nth-child(3)::before { content: 'В'; }
.cyrilic li:nth-child(4)::before { content: 'Г'; }
.cyrilic li:nth-child(5)::before { content: 'Д'; }
.cyrilic li:nth-child(6)::before { content: 'Е'; }
.cyrilic li:nth-child(7)::before { content: 'Ё'; }
.cyrilic li:nth-child(8)::before { content: 'Ж'; }
.cyrilic li:nth-child(9)::before { content: 'З'; }
.cyrilic li:nth-child(10)::before { content: 'И'; }
.cyrilic li:nth-child(11)::before { content: 'К'; }
.cyrilic li:nth-child(12)::before { content: 'Л'; }
.cyrilic li:nth-child(13)::before { content: 'М'; }
.cyrilic li:nth-child(14)::before { content: 'Н'; }
.cyrilic li:nth-child(15)::before { content: 'О'; }
.cyrilic li:nth-child(16)::before { content: 'П'; }
.cyrilic li:nth-child(17)::before { content: 'Р'; }
.cyrilic li:nth-child(18)::before { content: 'С'; }
.cyrilic li:nth-child(19)::before { content: 'Т'; }
.cyrilic li:nth-child(20)::before { content: 'У'; }
.cyrilic li:nth-child(21)::before { content: 'Ф'; }
.cyrilic li:nth-child(22)::before { content: 'Х'; }
.cyrilic li:nth-child(23)::before { content: 'Ц'; }
.cyrilic li:nth-child(24)::before { content: 'Ч'; }
.cyrilic li:nth-child(25)::before { content: 'Ш'; }
.cyrilic li:nth-child(26)::before { content: 'Щ'; }
.cyrilic li:nth-child(27)::before { content: 'Э'; }
.cyrilic li:nth-child(28)::before { content: 'Ю'; }
.cyrilic li:nth-child(29)::before { content: 'Я'; }

.form1 span {
    color: #dd133f;
}

label{
    color: white;
    display: block;
}
  
  /*поведение при нажатие на поле*/
input:focus{
    outline: none;
    background: #181b22;
    text-decoration: none;
    border-color: #f3c33e;
    color: white;
}

input{
    display: block;
    width: 90%;
    height: 5vh;
    border: 4px solid #f3c33e;
    margin: auto;
    margin-top: 0.8vh;
    text-align: center;
}

/*отвечает за кнопку выбора файла*/
.input-file {
    position: relative;
    width: 25vw;
    color: black;
    margin: 20px;
}
.input-file > span {
    cursor: pointer;
    vertical-align: middle;
    background: white;
    height: 5vh;
    border: 2px solid #f3c33e;
    padding: 1vh;
    padding-left: 5vh;
    padding-right: 5vh;
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-align: center;
    z-index: 5;
}
.input-file > input{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

fieldset{
    width: 15vw;
    margin: 3vw 4vh;
    color: #f3c33e;
    margin-left: 20px;
}

fieldset > label {
    width: 10vw;
    margin: 1vw 4vh;
    font-size: 1em;
}

.inp {
    width: 50%;
    height: 3vh;
    margin: auto;
    margin-top: 0.8vh;
    text-align: center;
}

textarea{
    width:90%;
    margin-top: 10px;
    margin-left: 20px;
}

select{
    width: 10vw;
    text-align: center;
    margin-top: 10px;
}

.col1{
    position: absolute;
    width: 50%;
    left:10%;

}

.col2{
    position: absolute;
    width: 50%;
    left:60%;
    margin-left:10px;
}


::placeholder {
    font-weight: bold;
    opacity: .5;
    color: rgb(163, 181, 205);
}

.d4{
    background-color: #181b22;
    border: 10px solid rgba(255, 183, 14, 0.856);
    display: block;
    margin: 40px;
    padding: 50px;
}
#Topic4{
    position: relative;
    height: 100vh;
}

.check{
    margin-top: 25px;
}

.custom-checkbox{
    position: absolute;
    top: 615px;
    left: 190px;
}
/* стиль при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border: 10px #f3c33e;
}
/* стиль для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
    background-color: #f6ffb3;
    border-color: #f3c33e;
}
/* стиль для чекбокса, находящегося в фокусе */
.custom-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.5rem rgba(255, 213, 0, 0.312);
}
/* стиль для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked)+label::before {
    border-color: #f3c33e;
}
/* стиль для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
    background-color: #bac4ce;
}

input[type=submit] {
    background-color: #f3c33e;
    border: none;
    color: #000000;
    padding-top: 15px;
    padding-bottom: 40px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    cursor:pointer;
}

.button2:hover {
    box-shadow: 10px 5px 5px #74590ec3;
}

#sub{
    width:50%;
    margin-left: 5%;
}

/*----------*/

div.block{
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    height: 55px;
    background-color: #181b22;
    z-index: 0;
}

div.FLEX {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.container {  
    border: 2px solid #f3c33e;
    border-radius: .5rem;
    padding: 10px;
    margin: .5rem 0;
    display: flex;
    flex-wrap: wrap;
    width: 96.5%;
}

.container1 {  
    border: 2px solid #f3c33e;
    border-radius: .5rem;
    padding: 10px;
    margin: .5rem 0;
    display: flex;
    flex-wrap: wrap;
    width: 96.5%;
}

  .item {
    padding: 10px;
    background-color: rgba(213, 102, 102, 0.3);
    border: 2px solid #f3c33e;
    margin: 0.5rem;
    flex: 1 1 310px;
  }

.item1 {
    padding: 10px;
    background-color: rgba(213, 102, 102, 0.3);
    border: 2px solid #f3c33e;
    margin: 0.5rem;
    flex: 2 1 310px;
}
.FLEX > .item {
    background-color: #181b22;
}
/*.container
{
    width: auto;
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
}

.container1{
  width: auto;
  display:flex;
  justify-content: center;
  flex-flow: row wrap;
}*/

.gallery {
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.gallery img {
    padding: 5px;
    height: 280px;
    width: auto;
    border-radius: 3%;
}

#menu__toggle, #menu__btn{display: none}

.hamburger-menu
{
    width:100%;
    display:block;
    float:center;
    text-align:center; 

}

.hamburger-menu ul{
    text-align: center; 
    padding: 0;
    
}


/* -------gallery--------- */
body.gallery {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 20px 5%;
    margin-left: 5px;
}

ul {
    list-style: none;
}

/* Responsive image gallery rules begin*/

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-gallery > li {
    flex: 1 1 auto; /* or flex: auto; */
    height: 300px;
    position: relative;
}

.image-gallery::after {
    content: "";
    flex-grow: 999;
}

.image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
}

.heading-text {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.image-item {
    position: relative;
    cursor: pointer;
}
  
.overlay {
    position: absolute;
    width: 16vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.552);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    /* center overlay content */
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  /* hover */
.image-item:hover .overlay {
    transform: scale(1);
}
/* ------------------- */
.image-item span {
    text-align: center;
    font-size: small;
}

/* ------BUTTONS------- */
/*кнопка 1*/
.containerforbtn{
    display: flex;
    text-align: center;
    margin: 5px 35%;
}
.btn1{
    padding: 10px 20px;
    box-shadow:  0px 10px 20px rgba(0,0,0,0.19),
                0px 6px 6px rgba(0,0,0,0.23);
    color:rgb(255, 0, 0);
    text-decoration: line-through;
    cursor: pointer;
    position: relative;
    font-size: 28px;
    transition: all 1s;
    font-family: 'Courier New', Courier, monospace;
}
.btn1::before, .btn1::after{
    content: '';
    width:48%;
    height:10px;
    position: absolute;
    border: 0px solid rgb(255, 0, 0);
    transition: all 1s;
}
.btn1::before{
    bottom: 0px;
    right: 0px;
    border-top: 3px solid rgb(255, 0, 0);
    border-left:3px solid rgb(255, 0, 0);
    transform: rotate(180deg);
}
.btn1::after{
    top: 0px;
    left: 0px;
    border-top: 3px solid rgb(255, 0, 0);
    border-left:3px solid rgb(255, 0, 0);
}
.btn1:hover::after, .btn1:hover::before{
width: 98%;
height: 94%;
}
.btn1:active{
    transition: 0.1s;
    background-color: rgb(255, 0, 0);
    color:black
}



/*Кнопка 2*/
.button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #ebc028;
    border-radius: 15px;
    box-sizing: border-box;
    color: #ebc028;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    min-height: 60px;
    max-width: 200px;
    min-width: 0;
    outline: none;
    text-align: center;
    transition: all 1s cubic-bezier(.64,1.48,.42,-0.32);
    width: 100%;
  }
  .button-28:hover {
    color: rgb(255, 3, 3);
    background-color: rgba(172, 172, 172, 0.25);
    box-shadow: rgba(172, 172, 172, 0.25) 0 8px 15px;
    transform: translateY(-4px);
  }
  .button-28:active {
    box-shadow: none;
    transform: translateY(0);
}

/*Кнопка 3*/

.button-6 {
    align-items: center;
    background-color: #ff8c21;
    border: 1px solid rgba(255, 0, 0, 0.121);
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.685);
    cursor: pointer;
    display: inline-flex;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 1rem 0;
    min-height: 3rem;
    padding: 1rem 2rem;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    width: auto;
}
  
.button-6:hover,
.button-6:focus {
    border-color: rgba(255, 0, 0, 0.15);
    box-shadow: rgba(255, 0, 0, 0.193) 0 4px 12px;
    color: rgb(0, 0, 0);
}
  
.button-6:hover {
    transform: translateY(-5px);
}
  
.button-6:active {
    background-color: #fdaa5c;
    border-color: rgba(255, 0, 0, 0.15);
    box-shadow: rgba(255, 0, 0, 0.193) 0 2px 4px;
    color: rgba(0, 0, 0);
    transform: translateY(0);
}

  /*Кнопка 4*/
.bbtn {
    width: 50px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #181b22;
    background: linear-gradient(to left,#FFEFBA,#FFFFFF,#FFEFBA);
    text-decoration: none;
    padding: 20px 70px;
    margin: 1rem 5vw;
    border-radius: 10px;
    background-size: 200%;
    transition: .5s;
}

a.bbtn:visited {
    color: #ca1e1e;
}
a.bbtn:hover {
    background-position: right;
    color: #181b22;
}
a.bbtn:active {
    color: #fdaa5c;
}

    /*Уведомление*/
.bellicon{
    max-width: 10px;
    max-width: 10px;
}
.bbox{
position: fixed;
left: 1%;
top: 8%;
z-index: 3;
}
.notific
{
    width: 60px;
    height: 60px;
    background: #232732;
    border-radius: 30px;
    box-shadow: border-box;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}
.notific:hover{
    width: 300px;
    height: 60px;
    text-align: left;
    padding: 0 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #f3c33e;
    transition: all 0.5s;
}
.notific .fa-solid:hover{
color:#fff;
}

.notific .fa-solid{
    color: #cecece;
    line-height: 60px;
    font-size: 30px;
    max-width: 60px;
    max-height: 60px;
    border-radius: 100%;
}
.notific .text::before{
    content: icon;
}
.notific .num{
    position: absolute;
    top:0;
    right:0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #f3c33e;
    color: white;
    font-family: sans-serif;
    text-align: center;
}
.notific:hover .num{
    position: relative;
    background: transparent;
    color:white;
    font-size: 24px;
    top: -4px;

}
.notific:hover .notific-list{
    /*margin-top: 50px;*/
    display: block;
    opacity: 1;
}    
.notific:hover .num::after{
    content: ' Уведомления';
    font-family: 'Space Grotesk', sans-serif;
}
.notific-list li:hover {
    background-color: #181b22;
}
.notific-list
{
    position: relative;
    left: -5%;
    top: 0;
    margin: 0;
    padding: 0;
    width: 110%;
    box-shadow: 0 5px 15px rgba(135, 46, 46, 0.5);
    padding: 20px;
    box-sizing: border-box;
    display: none;
    background-color: rgb(47, 43, 43);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    opacity: 0;
}
.notific-list li{
    list-style: none;
    border-bottom:1px solid rgba(255, 0, 0, 0.1);
    padding: 8px 0;
    display: flex;
}
.notific-list li:last-child{
    border-bottom: none;
}
.notific-list li .icon
{
width: 24px;
height: 24px;
background: rgb(255, 255, 255);
border-radius: 50%;
text-align: center;
line-height: 24px;
margin-right: 15px;
}
.notific-list li .icon .fa-solid{
    color: #fff;
    font-size: 16px;
    line-height: 24px;


}
.notific-list li .text{
position: relative;
font-family: 'Space Grotesk', sans-serif;
top:3px;
cursor: pointer;

}
.notific-list li:hover{
    border-radius: 5px;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 300ms;
}
.notific-list li:hover .text{
    font-weight: bold;
    color:#f3c33e;
}
.notific-list li:hover .icon{
    background-color:#f3c33e;
    color: #181b22;
}

/*-----видео---- */

.full-screen *{
    margin: 2rem 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}
.full-screen *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-screen-body {
    width: 80vw;
    max-height: 10vh;
    overflow: hidden;
    padding: 50px 15px;
    /*background-color: rgba(0, 0, 0, 0.256);*/
    position: relative;
    z-index: 2;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.full-screen-body::before {
    content: "";
    width: 100%;
    height: 97%;
    margin-top: 3.5%;
    background: #181b22e2;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
/*Текст для видео*/
.full-screen-text {
    width: 100%;
    height: 5rem;
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    font-size: 28px;
    justify-content: center;
    align-items: center;
    z-index: 3;
    letter-spacing: 15px;
    padding: 10px;
    text-align: center;
    transform:scale(0);
    margin-top: 1%;
}
.full-screen-video {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.full-screen-body:hover .full-screen-text{
    transform: scale(0.7);
    transition: 1s;
    
    cursor: pointer;

}


/* --- 7 practika --- */


.neon_div /*плашка-блок, в которой находятся три анимированныхх элемента*/
{
    height: 90%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap row;
    background: #181b22;
    
}

.neon /*стилизация всех трёх плашек с текстом*/
{
    position: relative;
    width:25%; /*ширина каждого из трёх*/
    margin: 8rem 1rem;
    border-radius: 1rem;
    display: inline-block;
    box-sizing: border-box;
    backdrop-filter: blur(3px); /*у свойства backdrop-filter значение размытия (3 пикселей накладываются друг на друга)*/
    z-index: 10;
}


.neon::after, .neon::before /*отвечает за форму и положение в пространстве трёх цветных плашек*/
{
    
    content:"";
    position: absolute;
    top:-40%; /*чуть приподнимаем наверх, так как они низко расположены*/
    left:25%;
    width:50%;
    height: 180%;
    border-radius: 10px;
    transform: skewX(10deg);
    transition: 0.5s; /*разворот плашки происходит в течение 0,5 секунд*/
    z-index: -10;
    
}
.neon::after{
  filter: blur(30px);
} 

/*отвечает за цвет трёх цветных плашек*/
.neon:nth-child(1):before, .neon:nth-child(1):after{ /*nth-child matches elements based on their position among a group of siblings.*/
  background: linear-gradient(45deg, rgb(255, 166, 0), rgb(11, 248, 47));
}

.neon:nth-child(2):before, .neon:nth-child(2):after{
  background: linear-gradient(45deg, rgb(116, 18, 201), rgb(33, 212, 105));
}

.neon:nth-child(3):before, .neon:nth-child(3):after{
  background: linear-gradient(45deg, rgb(200, 185, 47), rgb(255, 0, 234));
}



.neon_cont{ /*прозрачная глассморфная плашка, на которой и написан белый текст*/
    width: 120%;
    box-sizing: border-box;
    margin: 15px;
    padding: 15px;
    position: relative;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(100px);
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    z-index: 1;
    transition:0.5s;
    color: #fff;
}


.neon_cont::before
{
    content:"";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
}
.neon:hover:before, .neon:hover::after 
{
    transform: skewX(0deg);
    width:70%;
    transform: translateX(-15%);
}

.neon span{
    display: block;
    z-index:5;
}

.neon span::before/*верхний движущийся квадратик*/
{
    content:"";
    position: absolute;
    top:-50%;
    left:5%;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    opacity:0;
    z-index:0;
}

.neon span::after /*нижний движущийся квадратик, идентичный верхнему*/
{
    content:"";
    position: absolute;
    bottom:-50%;
    right:5%;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    opacity:0;
    z-index:0;
}

 .neon:hover span::before /*указываем время возникновения квадратиков и анимацию, которую к ним нужно приемнить (она в коде ниже)*/
{
    opacity: 1;
    width: 70px;
    height: 70px;
    transition: 1.5s;
    animation: square_top 10s linear infinite; /*на анимацию всего отводится 10 секунд (полный оборот квадрата вокруг плашки)*/
}
.neon:hover span::after
{
    opacity: 1;
    width: 70px;
    height: 70px;
    transition: 1.5s;
    animation: square_bottom 10s linear infinite;
}

.neon:hover .neon_cont /*при наведении сдвигаем подтекстную плашку влево  */
{
    transform: translateX(-7%);
    transition: all 1s;
}

.neon_cont a{ /*отвечает за кнопку под текстом плашки*/

    display: inline-block;
    color: #181b22;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 5px;
    transition: all 0.5s ease-out;
}
.neon_cont a:hover{
    background-color: #181b22;
}

.soc_div /*блок содержащий анимированные иконки соцсетей*/
{

        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        flex-flow: wrap;
        border:none;
        width: 70%;
        height: 50%;
        margin: 40px;
        padding: 20px;
        width:90vw;
        flex-grow: 1;
        padding: 10px;
}

.soc_but /*каждый из 4 кружков с соцсетью*/
{
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.618);
    text-align: center;

    z-index: 0;
    margin: 2%;
}

.soc_but::before /*свойства цветного квадрата над соцсетями*/
{
    content: "";
    position: absolute;
    box-sizing: border-box;
    top: -100%;
    left: 0;
    width: 60px;
    height: 60px;
    padding-top: 20px;
    background: linear-gradient(45deg, rgb(116, 18, 201), rgb(33, 212, 209));
    transition: 0.5s linear;
    z-index:-1;
}

.soc_but:hover::before /*градиентный кружок спускается на соцсети*/
{
    top:0;
}

.soc_but a{
    text-decoration: none;
}

.soc_but i{ /*отвечает за расположение значков соцсетей*/
    display: block;
    font-size: 1.8rem;
    z-index:20;
    position:relative;
    text-decoration: none;
    top: 13px;
    left: 1px;
}


.form_div  /*блок в котором расположена форма с анимацией*/
{
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap row;
    background: #181b22;
    border: none;
    margin: 0 auto;
    padding: 20px;
    width:90vw;
    flex-grow: 1;
}

.form_content form {
    z-index: 150;
}

.form_content /*здесь и серая плашка, и текст*/
{
    width: 60%;
    box-sizing: border-box;
    margin: 10% auto;
    padding: 40px;
    position: relative;
    background-color: rgba(202, 163, 56, 0.704);
    backdrop-filter: blur(50px);
    border-radius: 8px;
    border: 1px solid #181b22;
    transition:0.5s;
    color: #fff;
    font-size: 1.6em;
    font-weight: 600;
}

.form_content p /*черта под авторизацией*/
{
    display: block;
    position: relative;
    width: 25vw;
    padding-bottom:10px; /*10 пикселей отступ от низа букв авторизация*/
}

.form_content p::before /*описание черты под авторизацией и как она появляется*/
{
    content: "";
    position: absolute;
    bottom: 0;
    left:50%;
    height: 4px;
    width: 0;
    opacity: 0; /*изначально она не видна.*/
    background-color: white;
    transition: 0.5s;
}
.form_content:hover p::before 
{
    left:0%;
    width: 100%;
    opacity: 1;
}

.form_content a {
    font-size: small;
}
.form_content a:hover {
    background-color: transparent;
}

.form_content form input{
    display: block;
    width: 80%;
    height: 50%;
    margin-bottom: 5%;
    text-align: left;
    border: 0.5px solid #181b22;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(100px);
    padding: 15px;
}

.form_content form input:focus{ /*при нажатии фон в поле для ввода меняется на более светлый*/
    border: none;
    background-color: rgba(255, 255, 255, 0.407);
}

.form_content form input::placeholder /*описание текста показывающего что вводить*/
{
    padding: 10px 5px;
    font-size: 1.3em;
    color:rgba(236, 228, 228);
}

.form_content form button{ /*как кнопка выглядит в изначальном состоянии*/
    cursor: pointer;
    display: block;
    height: 50%;
    width: 30%;
    margin-top: 8%;
    border-radius: 40px;
    background-color:white;
    backdrop-filter: blur(100px);
    padding: 10px 5px;
    font-size: 0.7em;
    font-weight: 600;
    border: none;
    color: rgb(126, 116, 116);
    transition: 0.5s;
}

.form_content form button:hover /*что происходит с кнопкой при наведении*/
{
    background-color: rgba(255, 255, 255, 0.1);
    color:white;
}

.form_content span{ /*спан отвечает за все квадраты*/
    display: block;
    transition: 0.5s;
}

/*элементы с псевдоэлементом бефор - левый и правый квадраты, их анимация отличается от остальных трёх.*/
.form_content span:nth-child(1)::before /*первый квадрат (самый большой)*/
{
    content:"";
    position: absolute;
    top:40%;
    left:-20%;
    height: 120px;
    width: 120px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.264);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}
.form_content span:nth-child(1)::after
{
    content:"";
    position: absolute;
    bottom:5%;
    right:-15%;
    height: 70px;
    width: 70px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.264);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}
.form_content span:nth-child(4)::before
{
    content:"";
    position: absolute;
    top:-15%;
    right:-10%;
    height: 100px;
    width: 100px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.264);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}

.form_content span:nth-child(4)::after /*верхний квадрат*/
{
    content:"";
    position: absolute;
    top:-13%;
    left:30%;
    height: 60px;
    width: 60px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.264);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}


.form_content span:nth-child(5)::after
{
    content:"";
    position: absolute;
    bottom:-10%;
    left:40%;
    height: 50px;
    width: 50px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.264);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}

/*квадраты начинают двигаться по анимации лишь при наведении на контейнер формы*/
 .form_div:hover span::before 
{
    animation: bef 7s linear infinite;
}
.form_div:hover span::after
{
    animation: aft 7s linear infinite;
}

.grad_div, .card_div /*для последних двух секций дз применяем одинаковые свойства*/
{ /*плашка на которой находятся три карточки*/
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap row;
    background: #181b22;
    border: none;
    margin: 0 auto;
    padding: 20px;
    width:95vw;
    flex-grow: 1;
}

.grad /*свойства каждой белой карточки на которой текст*/
{
    flex-direction: row;
    margin: auto;
    position: relative;
    width: 20vw;
    height: 410px;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(190, 0, 0);
    overflow: hidden; /*остаток овала скрывается*/
    z-index: 0;
    transition: 0.5s;
}

.grad::before /*вертикальный овал, на видимой части которого (в карточке) располагается цифра-номер карточки*/
{
    content:"";
    position: absolute;
    top: -60%;
    left: -5%;
    width: 110%;
    height: 100%;
    border-radius: 50%;
    background: #000;
    z-index: 5;

}

.grad_cont h2 /*цифры*/
{
    display: block;
    color: rgb(245, 106, 0);
    font-size: 3em;
    font-weight: 800;
    margin: 20px 0 100px;;
}
.grad:nth-child(1){
    background-color: #f3c33e;
}

.grad:nth-child(2){
    background-color: rgba(227, 43, 89, 0.737);
}

.grad:nth-child(3){
    background-color: rgba(192, 26, 170, 0.76);
}

.grad::before, .grad .grad_btn{ /*стилизация кнопки*/
    background-color: rgb(255, 255, 255);
}

.grad_cont /*свойства текста на карточках*/
{
    position: relative;
    text-align: center;
    font-size: 0.8em;
    z-index: 10;
    color: rgb(255, 255, 255);
}

.grad_btn /*кнопка на карточках предпоследнего блока*/
{
    cursor: pointer;
    width: 50%;
    padding: 5%;
    margin:10% auto;
    border-radius: 20px;
    color: rgb(0, 0, 0);
}
.grad_btn:hover /*кнопка на карточках предпоследнего блока*/
{
    cursor: pointer;
    width: 50%;
    padding: 5%;
    margin:10% auto;
    border-radius: 20px;
    color: rgb(156, 15, 216);
}

.grad_fon /*размытие заднего плана при наведении*/
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(174, 135, 204, 0.09);
    backdrop-filter: blur(3px);
    z-index: -100;
    opacity: 0;
    transition: 0.5s;
}
.grad:hover
{
    z-index:101;
    transform: translateY(-30px)
}

.grad:hover~.grad_fon
{
    opacity: 1;
    z-index:100;
}

.card
{
    margin: auto;
    position: relative;
    width: 22%;
    height: 350px;
    padding: 20px;
    background-color: rgba(139, 101, 176, 0.814);
    backdrop-filter: blur(10px);
    overflow: hidden;
    z-index: 0;
    transition: 0.5s;
    
}

.card::before
{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #f3c33e;
    transition: 0.5s;

}

.card_btn
{
    background: white;
    cursor: pointer;
    width: 50%;
    padding: 5%;
    margin:10% auto;
    border-radius: 20px;
    color: black;
    transition: 0.5s;
}
.card_btn:hover
{
    background: rgb(0, 0, 0);
    cursor: pointer;
    width: 50%;
    padding: 5%;
    margin:10% auto;
    border-radius: 20px;
    color: rgb(255, 255, 255);
}

.card_cont h2
{
    display: block;
    color: rgb(245, 106, 0);
    font-size: 3em;
    font-weight: 800;
    margin: 20px 0 70px;
}

.card_cont
{
    position: relative;
    text-align: center;
    font-size: 0.8em;
    z-index: 10;
    color: rgb(0, 0, 0);
}

.card:hover, .card:hover:before, .card:hover .card_cont
{
    filter: brightness(110%);
    z-index: 102;
}

.card:hover{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.card_fon
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(184, 135, 204, 0.233);
    filter: brightness(-10%);
    z-index: -100;
    opacity: 0;
    transition: 0.5s;
}

.card:hover~.card_fon
{
    opacity: 1;
    z-index:100;
    transition: .5s;
}

.span_hor::before
{
    content:"";
    position: absolute;
    top:0;
    left: 0;
    height:1px;
    width: 100%;
    background: linear-gradient(45deg, rgb(245, 106, 0), rgba(255, 255, 255, 0.762) 50%);
    z-index: 1000;
    opacity: 0;
}

.card:hover .span_hor::before
{
    opacity: 1;
    transition: 1s;
    animation: 2s animateTop  linear infinite;
}

.span_hor::after
{
    content:"";
    position: absolute;
    bottom:0;
    left: 0;
    height:2px;
    width: 100%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.762), rgb(245, 106, 0) 50%);
    opacity: 0;
    z-index: 1000;
}

.card:hover .span_hor::after
{
    opacity: 1;
    transition: 1s;
    animation: 2s animateBottom  linear infinite;
}

.span_vert::before
{
    content:"";
    position: absolute;
    top:0;
    left: 0;
    width:2px;
    height: 100%;
    background: linear-gradient(45deg, rgb(245, 106, 0),rgba(255, 255, 255, 0.762) 50%);
    opacity: 0;
    z-index: 1000;
}

.card:hover .span_vert::before
{
    opacity: 1;
    transition: 1s;
    animation: 2s animateLeft  linear -1s infinite;
}

.span_vert::after
{
    content:"";
    position: absolute;
    top:0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.762),rgb(245, 106, 0) 50%);
    opacity: 0;
    z-index: 1000;
}

.card:hover .span_vert::after
{
    opacity: 1;
    transition:1s;
    animation: 2s animateRight linear -1s infinite;
}

  
@keyframes animateTop {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
  
  
@keyframes animateRight {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}
  
  
@keyframes animateLeft {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}
  
  
@keyframes animateBottom {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
  

@keyframes bef { /*анимация для двух (самый правый и самый левый квадратов во втором блоке*/
        
    30% {
        transform: translateX(5rem) translateY(100%);
    }  
    55% {
        transform: translateX(calc(50% +30px + 2vw)) translateY(calc(-40% + 20px + 1vh));
    }
    80% {
        transform: translateX(calc(-100% + 1vw)) translateY(calc(-50% + 20px));
    }
    0%,100% {
        transform: translateX(calc(0% + 1vw)) translateY(calc(0% - 20px + 1vh));
    }
}

@keyframes aft { /*анимация для трёх (верхние и нижние) квадратов во втором блоке*/
    20% {
     transform: translateX(0rem) translateY(4rem);
    }  
    50% {
      transform: translateX(7rem) translateY(calc(-10% + 20px + 1vh));
    }
    70% {
      transform: translateX(5rem) translateY(calc(50% + 20px));
    }
    0%,100% {
        transform: translateX(1vw) translateY(calc(10% - 20px + 1vh));
    }
}

@keyframes square_top { /*анимирование верхнего движущегося квадрата в первом блоке дз. 4 ключевых точки = 4 точки смены траектории движения сверху вниз и назад к верху*/
    0%,100% {
        transform: translateX(-1vw) translateY(0);
    }
    20% {
        transform: translateX(15vw) translateY(0);
    }  
    50% {
        transform: translateX(15vw) translateY(500%);
    }
    70% {
        transform: translateX(-1vw) translateY(500%);
    }
}

@keyframes square_bottom { /*анимирование нижнего движущегося квадрата в первом блоке дз. 4 ключевых точки = 4 точки смены траектории движения снизу вверх и назад к низу*/
    0%,100% {
        transform: translateX(1vw) translateY(0);
    }
    20% {
        transform: translateX(-15vw) translateY(0);
    }  
    50% {
        transform: translateX(-15vw) translateY(-500%);
    }
    70% {
        transform: translateX(1vw) translateY(-500%);
    }
    
}


@media (max-width: 900px){

    .d2{width: 100%; flex-grow: 2; margin: 0;}
    .d4{width: 87vw; margin: 10px 10px;}
    .aa{width:70vw;}

    .neon_div /*плашка-блок, в которой находятся три анимированныхх элемента*/
    {
        height: 90%;
        margin: 1rem auto;
        position: relative;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        flex-flow: wrap row;
        background: #181b22;
        
    }
    .neon /*стилизация всех трёх плашек с текстом*/
    {
        flex: 2 1 100%;
        flex-direction: column;
        position: relative;
        width:25%; /*ширина каждого из трёх*/
        height: 15rem;
        margin: 8rem 1rem;
        border-radius: 1rem;
        display: inline-block;
        box-sizing: border-box;
        backdrop-filter: blur(3px); /*у свойства backdrop-filter значение размытия (5 пикселей накладываются друг на друга)*/
        z-index: 10;
    }
    .neon_cont{ /*прозрачная глассморфная плашка, на которой и написан белый текст*/
        width: 110%;
        box-sizing: border-box;
        margin: 15px;
        padding: 15px;
        position: relative;
        left: 0;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(100px);
        border-radius: 8px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
        z-index: 1;
        transition:0.5s;
        color: #fff;
    }


    .grad /*свойства каждой карточки на которой текст*/
    {
        flex: 2 1 100%;
        flex-direction: column;
        position: relative;
        width: 10vw;
        height: 400px;
        border-radius: 20px;
        margin: 1rem 0;
        padding: 20px;
        overflow: hidden; /*остаток овала скрывается*/
        z-index: 0;
        transition: 0.5s;
    }
    .card{
        flex: 2 1 100%;
        flex-direction: column;
        margin: 1rem 0;
        position: relative;
        width: 22%;
        height: 350px;
        padding: 20px;
        background-color: rgba(139, 101, 176, 0.814);
        backdrop-filter: blur(10px);
        overflow: hidden;
        z-index: 0;
        transition: 0.5s;
        
    }

    .card::before
    {
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: #f3c33e;
        transition: 0.5s;

    }

    .form_content /*здесь и серая плашка, и текст*/
    {
    width: 60%;
    box-sizing: border-box;
    margin: 10% auto;
    padding: 5vw;
    position: relative;
    background-color: rgba(202, 163, 56, 0.704);
    backdrop-filter: blur(1000px);
    border-radius: 8px;
    border: 1px solid #181b22;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    z-index: 1500;
    transition:0.5s;
    color: #fff;
    font-size: 1.3em;
    font-weight: 600;
    }

    .form_content form button{ /*как кнопка выглядит в изначальном состоянии*/
        cursor: pointer;
        display: block;
        height: 50%;
        width: 33%;
        margin-top: 8%;
        border-radius: 40px;
        background-color:white;
        backdrop-filter: blur(100px);
        padding: 10px 5px;
        font-size: 0.5em;
        font-weight: 600;
        border: none;
        color: rgb(126, 116, 116);
        transition: 0.5s;
        z-index: 5;
    }

    .grad_div, .card_div /*для последних двух секций дз применяем одинаковые свойства*/
    { /*плашка на которой находятся три карточки*/
        position: relative;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        flex-flow: wrap row;
        background: #181b22;
        border: none;
        margin: 0 auto;
        padding: 40px;
        width:90vw;
        flex-grow: 1;
    }

    div.FLEX {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    div img {
        width: 150px;
        z-index: -10;
    }

    .image-item:hover .overlay {
        width: 150px;
    }

    div.logo {
        position: fixed;
        display: block;
        top: 0;
        width: 100%;
        height: 2.7rem;
        background-color: #181b22;
        z-index: 1000;
    }

    .logo img{
        position: fixed;
        top: 0;
        display: flex;
        margin-left: 0px;
        width: 55px;
    }
    h1 {
        position: fixed;
        top: 0;
        display: block;
        width: 15rem;
        font-family: 'Press Start 2P', cursive;
        background-color: #181b22;
        color: #f3c33e;
        margin-left: 70px;
        font-size: 24px;
    }

    h2{font-size: 28px;}

    nav li{
        display: block;
        width:100%;
        margin: auto;
        margin-top: 20px;
        font-size: 20px;
    }
    .image-gallery img {
        width: 100%;
        height: auto;
    }   
    
    /* контейнер меню */
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        width: 100%;
        height: auto;
        margin: 0;
        margin-top: 50px;
        list-style: none;
        text-align: center;
        background-color: #181b22;
        z-index: 1000;
    }
    
    .menu__btn {
        display: flex; 
        align-items: center;  
        position: fixed;
        top: 15px;
        right: 20px;
        width: 22px; /*по ширине кнопки расположены три полосы span*/
        height: 26px;
        cursor: pointer;
        z-index: 1000;
    }

    /*составляющие кнопки меню мобилок*/
    .menu__btn > span, .menu__btn > span::before, .menu__btn > span::after{
        display: block;
        position: absolute;
        width: 100%;
        height: 2px; /*ширина полос, составляющих кнопку меню мобилок-->*/
        background-color: #f3c33e; /*цвет полос, составляющих кнопку меню мобилок-->*/
    }

    .menu__btn > span::before { /*верхняя полоска*/
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {/*нижняя полоска*/
        content: '';
        top: 8px;
    }

    #menu__toggle:checked ~ .menu__btn > span { /*разворот средней полоски после нажатия*/
    transform: rotate(45deg);
    }
        #menu__toggle:checked ~ .menu__btn > span::before { /*разворот верхней полоски после нажатия*/
        top: 0;
        transform: rotate(0);
        }
        #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
        }
        #menu__toggle:checked ~ .menu__box { /*контейнер меню становится видимым*/
        visibility: visible;
        left: 0;
        opacity: 0.9;
        }

    footer {
        background:#f3c33e;
        padding: 0 2rem;
        font-size: 10pt;
        color: #181b22;
        opacity: 0.33;
    }
}